body {
    font-family: Roboto;
    background-color: #333;
    color: white;
}

html [type=button] {
    -webkit-appearance: none;
}

html {
    -webkit-appearance: none;
}

.articleCard {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.articleURLImage {
    width: 280px;
    height: 200px;
    border: 1px solid black;
    margin-right: 12px;
    float: left;
}
.articleDesc {
    margin-left: 50px;
    margin-right: 10px;
}

.articleTitle {
    font-size: 18px;
    color: gold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
}

.periodicalName {
    font-size: small;
    margin-left:  10px;
    margin-top: 5px;
    margin-bottom:  5px;
}

.dateString {
    margin-top: 5px;
    margin-left: 10px;
    font-size:  small;
}

.articleAuthor {
    margin-top: 5px;
	margin-bottom: 25px;
	margin-left:  10px;
	margin-right:  10px;
    font-size:  small;
}

.pick-button:hover {
    cursor: pointer;
    background-color: purple;
    color: black;
}

.button-container {
    margin-top: 45px;
    clear:  left;
    padding-top:  40px;
}

.button-left {
    display: inline-block;
    text-align: center;
    padding-right: 0.75em;
    padding-left: 0.75em;
    width: 44%;
    float: right;
    color: black;
    background-color: pink;
    border: 2px solid red;
    font-weight: bold;
    border-radius: 25px;
}

.button-right {
    display: inline-block;
    text-align: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 44%;
    float: left;
    color: black;
    background-color: lightgreen;
    border: 2px solid limegreen;
    font-weight: bold;
    border-radius: 25px;
}

.js-keep {
}

.js-discard {
}



