body {
  font-family: Roboto;
  background-color: #333; 
  color: black;
}

.centerit {
  text-align: center;
}

.clearit {
  margin-top: 20px;
  clear: left;
}

.hidden {
  display: none;
}

.tablinks {
  font-size: 12px;
}

.main-container {
  padding-left: 10px;
  /* padding-right: 10px; */
  margin-left: 10px;
  margin-right: 10px;
}

.header-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 800%;
  height: 50px;
  background-color: #e6ffff; /* light blue */
}

.header-remove-all {
  background-color:  lightgreen;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 350px;
  margin-top: 15px;
}

.header-compact-all {
  background-color:  lightblue;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 15px;

}

/* .header-periodicals {
  width: 20%;
  color:  black;
  text-align: center;
  margin: 0;
  float: left;
  font-size: 18px;
  padding-top:  10px;
} */

/* .header-readinglist {
  color: black;
  text-align: center;
  font-size:  18px;
  padding-top: 10px;
} */

.app-container {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffe6; /* light yellow */
}

#source-container {
  width: 225px;
  height: 1000px;
  background-color: #f2f2f2;   /* light gray */
  overflow-y: auto;
  float: left;
  white-space: nowrap;  /* added for cases of narrow window */
} 

.js-category {
  color: blue;
  margin-left: 10px;
  margin-bottom: 8px;
}

.js-periodical:hover {
  background-color: #999;  /* light gray */
  color: white;
  cursor: pointer;
  margin-right: 0px;
  margin-left: 0px;
  padding-top:  2px;
  padding-left: 10px;
  /* border: 1px solid black; */
  /* border-radius: 25px; */
  font-size: 18px;
  box-shadow: 5px 5px 5px #bfbfbf; /* light gray */
}

.js-periodical {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: background-color 0.33s, 
              color 0.33s,
              font-size 0.33s,
              box-shadow 0.33s,
              margin-left 0.33s,
              margin-right 0.33s,
              padding-left 0.33s;
              /* border-radius 0.33s; */
}

.js-readinglist {
  width: auto;   /* was 600px; */
  height: 1000px;
  background-color: lightgreen;
  /* padding-top: 10px; */
  /* float: left; */
  overflow-y: auto;
}

.accordion-strip:hover {
  background-color: #f2f2f2;
}

.accordion-strip {
  width: 600px;
  /* float: left; */
}

.panel {
  width:  auto;
}

.strip-source {
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  float: left;
}

.accordion-date {
  font-size:  small;
  font-style:  italic;
  margin-left: 10px;
  clear: left;
}

.strip-title {
  clear: left;
  color: blue;
  margin: 4px;
  text-align:  left;
}

.panelURLImage {
  width: 280px;
  height: 220px;
  border: 1px solid black;
  margin-right: 12px;
  float: left;
}
.panelDesc {
  margin-left: 50px;
  margin-right: 25px;
}

.panelArticleTitle {
  font-size: 18px;
  color: gold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 12px;
}

.panelSourceName {
  font-size: small;
  margin-left:  10px;
  margin-top: 5px;
  margin-bottom:  5px;
}

.dateString {
  margin-top: 5px;
  margin-left: 10px;
  font-size:  small;
}

.panelAuthor {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left:  50px;
  margin-right: 25px;
  /* font-size:  small; */
}

.button-container {
  margin-top: 20px;
}

.button-left {
    text-align: center;
    padding-right: 0.75em;
    padding-left: 0.75em;
    color: black;
    background-color: pink;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.button-right {
    text-align: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    float: left;
    color: black;
    background-color: lightblue;
    border: 1px solid limegreen;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
}

